extends ../default-page.pug

block page-content

  h1 Code Examples

  ul
    li: a(href=base_url+'/examples/wavetable_osc') Wavetable Oscillator
    li: a(href=base_url+'/examples/freeverb') Freeverb
