extends ../main.pug

block content

  p(class='bigger').
    Arrp is a functional language for digital signal processing
    with the following features:
  ul
    li.
      Signals regarded simply as multi-dimensional arrays with an infinite dimension.
    li.
      Pointwise operations and broadcasting.
    li.
      Polymorphic and higher order functions.
    li.
      Type inference.
    li.
      High performance for real-time DSP.

