extends ../default-page.pug

block page-content

  h1 Research

  p.
    The Arrp language and compiler is a result of research and development
    at University of Victoria, Canada.

  h2 Related Papers

  .citation
    p Leben, Jakob.
    p: b "A programming language based on recurrence equations and polyhedral compilation for stream processing."
    p Ph.D. Thesis. University of Victoria, 2019.
    p URL: #[a(href='http://hdl.handle.net/1828/11008') http://hdl.handle.net/1828/11008]

  .citation
    p Leben, Jakob and Tzanetakis, George.
    p: b "Polyhedral Compilation for Multi-dimensional Stream Processing."
    p ACM Transactions on Architecture and Code Optimization (TACO). ACM, 2019.
    p DOI: #[a(href='https://doi.org/10.1145/3330999') 10.1145/3330999]

  .citation
    p Leben, Jakob.
    p: b "Arrp: a functional language with multi-dimensional signals and recurrence equations."
    p Proceedings of the 4th International Workshop on Functional Art, Music, Modelling, and Design. ACM, 2016.
    p DOI: #[a(href='https://doi.org/10.1145/2975980.2975983') 10.1145/2975980.2975983]
