extends doc-page.template.pug

block doc-content

  :markdown-it
    # Arrp Compiler

    ## Installation

    Installation packages are available on GitHub as [release assets](https://github.com/jleben/arrp/releases).

    Please see release notes for installation instructions.

    ## Source Code

    Source code is also available [on GitHub](https://github.com/jleben/arrp)

    Please see the README file in the repository for help
    on building the compiler from source.

    ## Usage

    Print help and available options:

        arrp --help

  p.

    See also the documentation on various #[a(href=doc_path+'#interfaces') interfaces] to Arrp code that the compiler can generate.
