
mixin doc_version_menu(version_name, version_page)

  ul#doc_version_menu
    li(class='active')
      a(href=('/doc/' + version_page))
        = version_name
    li(class='inactive')
      a(href=('/doc/versions')) Other Versions
