extends ../../default-page.pug

block page-content

  h1 Arrp Compiler

  p Installation packages are available on GitHub as release assets:

  p: a(href='https://github.com/jleben/arrp/releases') https://github.com/jleben/arrp/releases

  p Source code is also available on GitHub:

  p: a(href='https://github.com/jleben/arrp') https://github.com/jleben/arrp

  p.
    Please see the README file in the repository for help
    on installing and using the compiler as well as building it from source.
