extends /templates/doc-v1.0.0-page.pug

block doc-content

  h1 Code Examples

  ul
    li: a(href='/doc/v1.0.0/examples/wavetable_osc') Wavetable Oscillator
    li: a(href='/doc/v1.0.0/examples/freeverb') Freeverb
