extends doc-page.template.pug

block doc-content

  h1 Code Examples

  ul
    li: a(href=doc_path+'/examples/wavetable_osc') Wavetable Oscillator
    li: a(href=doc_path+'/examples/freeverb') Freeverb
