extends ../doc-page.template.pug

block doc-content

  h1 Arrp Core Library

  p.
    The Arrp Core Library is a set of Arrp modules providing essential and widely useful
    functionality.

  p.
    These modules are provided along with the compiler and they can be directly
    imported in Arrp code without specifying any import directories.

  h2 Modules

  ul
    li: a(href=doc_path + '/library/array') array
    li: a(href=doc_path + '/library/math') math
    li: a(href=doc_path + '/library/signal') signal