extends ../doc-page.template.pug

block doc-content

  h1
    a(href=doc_path + '/library') Arrp Core Library
    | : math

  h2 pi

  p.
    The constant π.

  h2 sum(a)

  p.
    The sum of all elements of array a.
