
body {
  display: flex;
  flex-flow: column;
  margin: 0px
}

#header { background-color: #000066; padding: 10px }

#header-content {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#header {
  font-family: 'Share Tech', sans-serif;
  font-size: 30;
  color: #ffffff
}

#header a {
  text-decoration: none;
  color: #ffffff;
}

#header #menu-intro {
  display: inline;
}

#header #menu-outro {
  display: inline;
}

#header #menu {
  display: inline;
  padding: 10px;
  font-size: 26;
  list-style-type: none;
  color: #ccccff;
}

#header #menu li { display: inline; margin: 10px }

#page {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

#page-content {
  padding: 5pt;
  padding-top: 2pt;
  flex-grow: 1;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#page-content h1 { font-family: 'Share Tech', sans-serif; font-size: 20pt; color: #000066; margin-bottom: 17pt }
#page-content h2 { font-family: 'Share Tech', sans-serif; font-size: 14pt; color: #000066 }
#page-content a  { text-decoration: none; color: #000066 }

#page-content table {
  border-collapse: collapse;
}

#page-content table, th, td {
  border: 1px solid rgb(200,200,200);
}

#page-content td {
  padding: 4px
}

#page-content code {
  background-color: rgb(230,230,230);
  padding-left: 2px;
  padding-right: 2px;
}

#page-content pre {
  background-color: rgb(250,250,250);
  //border-color: rgb(100,100,100);
  border: 1px solid rgb(200,200,200);
  padding: 10px;
  border-radius: 7px;
}


#page-content #examples-table {
  border: none;
  font-size: 12pt;
}

#page-content #examples-table tr {
}

#page-content #examples-table td {
  border: none;
  //border-bottom:1pt solid rgb(150,150,150);
  border-bottom: 3pt solid white;
  padding-left: 1em;
  padding-right: 1em;
}

#page-content #examples-table .description {
  background-color: #edf2ff;
  color: #000066;
  //background-color: #000088;
  //color: #ffffff;
  text-align: center;
  border-right: 1pt solid rgb(150,150,150);
  padding-top: 3em;
  padding-bottom: 3em;
}

#page-content #examples-table .description div {
    //background-color: #edf2ff;
}

#page-content #examples-table .code {
  //background-color: rgb(252,252,252);
  //background-color: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

#page-content #examples-table .code pre {
  background: none;
  border: none;
}

#page-content .button-link {
  //font-family: 'Open Sans', sans-serif;
  //font-size: 12pt;
  white-space: nowrap;
  text-decoration: none;
  border: 1pt solid rgb(150,150,150);
  border-radius: 5px;
  //background-color: #000066;
  background-color: #edf2ff;
  //color: #ffffff;
  padding: 10pt;
  padding-left: 20pt;
  padding-right: 20pt;
  margin-left: 10pt;
  margin-right: 10pt;
}

#page-content .button-link:hover {
  background-color: #d2ddfa
}

.buttons {
  margin-top: 40pt;
  margin-bottom: 40pt;
}

#playground {
  flex: 1;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

#playground .column {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 5pt;
  float: left;
}

#playground .toolbar {
  display: flex;
  flex-flow: row;
  /*justify-content: space-between;*/
  align-items: flex-end;
  min-height: 22pt;
}

#playground button {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  border: 1pt solid rgb(150,150,150);
  border-radius: 5px;
  background-color: #edf2ff;
  padding: 1pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

#playground button:hover {
  background-color: #d2ddfa
}

#playground button:focus {
  outline: none;
}

#playground textarea {
  margin-top: 2pt;
  resize: none;
}

.bigger {
  font-family: 'Share Tech', sans-serif;
  font-size: 16pt;
}

.citation {
  margin-bottom: 2em;
}

.citation p {
  margin: 0.1em;
}
