extends /templates/default-page.pug

block page-content
  -
    options = [
        { 'name': 'v1.1.0', 'text': '1.1.0' },
        { 'name': 'v1.0.0', 'text': '1.0.0' }
    ]

  p.
    Documentation is available for these version:

  ul
    each option in options
      li
        a(href=('/doc/' + option.name))
          = option.text
