extends ../../default-page.pug

block page-content
  h1 Freeverb

  p.
    The function 'mono_freeverb' implements the Freeverb reverberation algorithm
    for one channel of audio at 44.1kHz.

  p.
    With the help of 'ffmpeg', you can process an audio file through this program:

  ol
    li Save the code into a file 'program.arrp', then compile it:

      pre arrp program.arrp --exec program

    li
      | Run the program and pipe its input and output through 'ffmpeg':

      pre
        | ffmpeg -i input.wav -ac 1 -ar 44.1k -f f32le pipe:1 |
        | ./program |
        | ffmpeg -y -ac 1 -ar 44.1k -f f32le -i pipe:0 file:output.wav

  p.
    Implementation:

  pre
    include ../../../arrp-examples/freeverb.arrp
