extends ../../default-page.pug

block page-content
  h1 Wavetable Oscillator

  p.
    The function 'osc' implements a wavetable oscillator with
    a fixed table and supporting a variable frequency.

  p.
    With the help of 'ffmpeg', you can write the output of this program
    into an audio file:

  ol
    li Save the code into a file 'program.arrp', then compile it:

      pre arrp program.arrp --exec program

    li
      | Run the program and pipe its output into 'ffmpeg' to write the audio file:

      pre ./program | ffmpeg -y -t 1 -ac 1 -ar 44.1k -f f64le -i pipe:0 file:audio.wav

      | If you want to use a different sample rate, change #[code sample_rate]
      | variable in the code, and adjust the ffmpeg option #[code -ar].

  p.
    Implementation:

  pre
    include ../../../arrp-examples/wavetable_osc.arrp
